

#login_bar{
    display:flex;
    width:auto;
    height:50px;
    justify-content: space-between;
    padding:0px 120px 0px 120px;
   
}
#login_bar>div{
    margin:10px 0px 10px 0px;
}
/* #login_bar>div>button{
      background-color: white;
      border:0px;
      margin-right: 15px;
} */
#navbar{
    display:flex;
    width:auto;
    height:80px;
    background-color: white;
    justify-content: space-between;
    padding:0px 120px 0px 120px;
   
}
#navbar>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto 0px auto 0px;
}
#navbar>div>div{
    box-shadow: none;
    margin:auto 0px auto 50px;
}
button{
    margin-right: 15px;
    background-color: white;
    border: 0px;
}
#navbar>button{
    margin:20px 0px 20px 0px;
    width:130px;
    background-color: #f85c1f;
    color: whitesmoke;
}
.box3{
    background-color:  #40c0c0;
    color:white;
    height:140px;
    text-align: center;
    padding-top: 10px;
    font-size: 18px; 
}
.box4{
    background-color: #40c0c0;
    text-align: center;
    height:40px;
    /* padding:0px; */
}
.box4>a{
    background-color: white;
    /* justify-content:end; 
    text-align: end; */
    /* text-align: center; */
    font-size: 20px;
    margin-right:-5px; 
    padding:20px 60px 25px 60px;
}
.hbox5{
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: center;
    font-size: 1.2em;
    position: sticky;
    top: 0px;
    color:1px solid black;

}
.hbox5>a:link,a:visited{
    
  color:black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
}
.hbox5>a:hover, a:active{
    color: blue;
}
.top{
    text-align: center;
    margin-top: 50px;
}
.box{
    background-color: #FF5C35;
    text-align: center;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 18px;
    height:20px;
    color:white;
    font-weight: bold;
    width:12%;
    margin:auto;
    font-size: 1em;
}
.free-tool{
    border:1px solid #cfcece;
    margin: 50px 40px 0px 40px;
    padding:30px 0px 10px 20px;
}
.free_tool1{
    display: flex;
    margin-top:-10px ;
    margin-right: 40px;
    column-gap: 10px;
    
}
.free_tool0{
    display: flex;
}
.tool{
    margin: -10px 40px 0px 40px;
    background-color: rgb(240, 240, 240);
    color:grey;
    height:50px;
    padding:5px 0px 5px 0px;
    text-align: center;
    justify-content: center;
}
h1{
    text-align: center;
}
.mid{
    display:flex;
    gap:15px;
    margin: 50px 40px 0px 40px;
}
.mid1{
    border:1px solid #cfcece;
    padding:30px 5px 0px 15px;
    width:25%;
    height:350px;
}
.mid1button{
    display: flex;
    border:1px solid #cfcece;
    width:100%;
    margin-top: 22%;
    margin-bottom:0px;
    position: relative;
    bottom: 0px;
    height:35px;
    text-align: center;
    justify-content: center;

    
}
.mid_lower{
   margin-top: 150px;
}
.guarantee{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 50px 200px 30px 200px;
    
}
.mid_lower1{
    text-align: center;
    margin-top: 130px;
}
.bottom{
    margin:100px;
}
.bottom0>div{
    display:flex;
    column-gap: 20px;
    border: 1px solid rgb(199, 199, 216);
    padding-left:20px;
    margin:0px 80px 15px 80px;
}
footer{
    background-color: #2d3e50 ;
    color: whitesmoke;
    padding:50px 130px 50px 100px;
    margin-top:50px ;
    justify-content: space-between;
}
.footer0{
    display:flex;
    margin-bottom: 200px;
}
.footer2{
    display: flex;
}
.footer11{
    display: flex;
    margin-top: -30px;;
}
h2{
    margin-left: 40px;
}
hr{
    width:30%;
}
.icon{
    display: flex;
}
.icon1{
    margin:auto;
    width:25%;
    display: flex;
    justify-content: space-evenly;
}    


.hubspot{
    width:30%;
    text-align: center;
    margin:50px auto;
}
.hubspot1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.soft1{
    height:800px;
    width:1050px;
    margin: 0px 80px 0px 80px;
    position: absolute;
    top:80px;
    left:-250px;
    z-index: 10px;
    background-color: #f0eeee;
    /* padding:2px 40px 40px; */
    /* text-align: center; */
}
.soft10{
    text-align: center;
}
.soft11{
    display:flex;
    justify-content: center;
    column-gap: 20px;
}
.soft11>div{
    display: flex;
    border: 1px solid white;
    color: blue;
    background-color: white;
    align-items: center;
    justify-content: center;
    height:60px;
    width: 250px;
    
}
.soft12{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    /* background-color: white; */
    column-gap:20px;
    row-gap: 20px;
    margin: 20px 90px 10px 90px;
}
.soft121{
    
   /* row-gap: -200px; */
     /* height: 100px;   */
   background-color: white;
   padding:0px 10px 10px 10px;
}
.soft121>p{
    font-size: 15px;
    margin-left: 30px;
}
.tagserv1{
    display: flex;
    column-gap: 10px;
    height: 50px;
    
}
.tagserv1>img{
    width:25px;
    height:30px;
    margin-top:20px;
    
}
.soft13{
    background-color: white;
    text-align: center;
    padding:1px 0px 1px 0px;
}
.soft13>h4{
       height:15px;
       /* margin-top: 30px; */
}
.res1{
    /* display: flex; */
    /* grid-template-columns: repeat(2,1fr); */
    background-color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:80px;
    left:-40px;
    width:800px;
    /* height: 800px; */
    /* flex-direction: column; */
}

.res11{
    /* margin:20px 40px 20px 40px; */
    width: 95%;
    margin:10px auto 0px auto;
    /* background-color: aqua; */
    display: flex; 
    column-gap: 130px;
}
.res112{
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
    align-items: center;
}
.res12{
    /* background-color: #f85c1f; */
    width: 95%;
    display: flex;
    column-gap: 80px;
    margin:10px auto 0px auto;
}
.res110>div:nth-child(2){
     margin-left: 40px;
     
}


